In [1]:
import pandas as pd

In [4]:
df = pd.read_csv("/data5/UK_Biobank/bmi_project/phenotypes/ukb_phenotypes_general.csv", nrows=10000)

In [4]:
df = pd.read_csv("/data5/deepro/ukbiobank/preprocess/rarecomb_pheno_prepare/data/ukb30075.csv", nrows=100, usecols =["eid", "2724-0.0", "2724-1.0", "2724-2.0"])

In [6]:
df.head(40)

        eid  2724-0.0  2724-1.0  2724-2.0
0   1000010       NaN       NaN       NaN
1   1000028       NaN       NaN       NaN
2   1000034       NaN       NaN       NaN
3   1000045       1.0       NaN       NaN
4   1000052       NaN       NaN       NaN
5   1000069       NaN       NaN       NaN
6   1000076       1.0       NaN       NaN
7   1000087       2.0       NaN       NaN
8   1000091       1.0       NaN       NaN
9   1000104       1.0       NaN       NaN
10  1000118       1.0       NaN       1.0
11  1000120       1.0       NaN       NaN
12  1000133       0.0       NaN       NaN
13  1000147       1.0       NaN       NaN
14  1000159       NaN       NaN       NaN
15  1000162       1.0       NaN       NaN
16  1000171       1.0       NaN       NaN
17  1000185       NaN       NaN       NaN
18  1000196       0.0       NaN       3.0
19  1000209       NaN       NaN       NaN
20  1000211       0.0       NaN       NaN
21  1000222       NaN       NaN       NaN
22  1000235       1.0       NaN       1.0
23  1000246       0.0       NaN       NaN
24  1000254       NaN       NaN       NaN
25  1000260       1.0       NaN       NaN
26  1000278       NaN       NaN       NaN
27  1000283       NaN       NaN       NaN
28  1000297       NaN       NaN       NaN
29  1000302       NaN       NaN       NaN
30  1000316       NaN       NaN       NaN
31  1000329       0.0       NaN       NaN
32  1000337       NaN       NaN       NaN
33  1000341       NaN       NaN       NaN
34  1000353       1.0       NaN       NaN
35  1000368       2.0       NaN       NaN
36  1000370       2.0       NaN       NaN
37  1000384       0.0       NaN       2.0
38  1000395       NaN       NaN       NaN
39  1000406       NaN       NaN       NaN

In [1]:
import random

In [3]:
random.sample([1,2,3], 1)

[1]

In [5]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
check_file = "/data5/deepro/ukbiobank/analysis/lifestyle_factors/non_additive_glm/tables/input_table.csv"

In [4]:
check_df = pd.read_csv(check_file)

In [7]:
check_df.loc[
    (check_df.Input_mental_health_catsingle_depression_unenthusiasm_high==1) & (check_df.Input_ENSG00000111596==1)
    ]

,Unnamed: 0,Input_mental_health_integer_depression_unenthusiasm_high,Input_mental_health_integer_depression_unenthusiasm_low,Input_mental_health_integer_neuroticism_high,Input_mental_health_integer_neuroticism_low,Input_mental_health_catsingle_emotions_high,Input_mental_health_catsingle_emotions_low,Input_mental_health_catsingle_last_2_weeks_high,Input_mental_health_catsingle_last_2_weeks_low,Input_mental_health_catsingle_doctor_visit_high,...,Input_ENSG00000244045,Input_ENSG00000253485,Input_ENSG00000254221,Input_ENSG00000258366,Input_ENSG00000259332,Input_ENSG00000262576,Input_ENSG00000271079,Input_ENSG00000273983,Input_ENSG00000282988,bmi
1140,1035624,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0,0,0,0,0,0,0,0,0,25.78485
1818,1056348,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,32.45000
1907,1058868,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,22.44610
2176,1067102,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,25.51510
2280,1070310,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,22.70920
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164594,5983675,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,28.63160
164819,5990562,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,23.88890
164840,5991466,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,25.27090
165330,6005744,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,28.24860
165892,6022117,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,32.88920

In [24]:
filename = "/data5/deepro/ukbiobank/analysis/lifestyle_factors/data/mental_health/mental_health_catsingle_satisfaction.csv"

In [25]:
df = pd.read_csv(filename, index_col=0)

In [31]:
df.loc[df.loc[:, "component_1"]>=df.quantile([0.25, 0.75]).iloc[1,0]]

,component_1,component_2,4526_Moderately-happy|Moderately-unhappy|Very-unhappy|Extremely-unhappy_high,4537_Extremely-happy|Very-happy_low,4537_I-am-not-employed_high,4548_Moderately-happy|Moderately-unhappy|Very-unhappy|Extremely-unhappy_high,4559_Moderately-happy|Moderately-unhappy|Very-unhappy|Extremely-unhappy_high,4570_Moderately-happy|Moderately-unhappy|Very-unhappy|Extremely-unhappy_high,4581_Moderately-happy|Moderately-unhappy|Very-unhappy|Extremely-unhappy_high
eid,,,,,,,,,
1000790,0.891862,0.345771,0,1,0,1,0,0,0
1000813,0.579376,0.002626,0,0,0,0,0,0,1
1000964,0.874059,-0.926124,0,0,1,0,0,0,0
1002158,0.827273,0.565356,0,1,0,0,0,1,0
1002369,1.257644,0.402368,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...
6024591,0.523674,0.534331,0,1,0,1,0,0,1
6024770,0.891862,0.345771,0,1,0,1,0,0,0
6024862,0.827273,0.565356,0,1,0,0,0,1,0
6024989,0.947563,-0.185934,0,0,0,0,0,0,0
6025070,0.874059,-0.926124,0,0,1,0,0,0,0

In [32]:
df.quantile([0.25, 0.75])

,component_1,component_2,4526_Moderately-happy|Moderately-unhappy|Very-unhappy|Extremely-unhappy_high,4537_Extremely-happy|Very-happy_low,4537_I-am-not-employed_high,4548_Moderately-happy|Moderately-unhappy|Very-unhappy|Extremely-unhappy_high,4559_Moderately-happy|Moderately-unhappy|Very-unhappy|Extremely-unhappy_high,4570_Moderately-happy|Moderately-unhappy|Very-unhappy|Extremely-unhappy_high,4581_Moderately-happy|Moderately-unhappy|Very-unhappy|Extremely-unhappy_high
0.25,-0.724727,-0.533450,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0.75,0.523674,0.402368,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [19]:
df.iloc[:, 0]<-0.498889

eid
1000028    False
1000118     True
1000159    False
1000395     True
1000427    False
           ...
6024955     True
6025037     True
6025070    False
6025132    False
6025257     True
Name: component_1, Length: 63578, dtype: bool

In [18]:
df.quantile([0.25, 0.75])

      component_1  component_2  2090  2100  20499
0.25    -0.498889    -0.057361   0.0   0.0    0.0
0.75     0.862976     0.041734   1.0   0.0    1.0

In [8]:
df.loc[:, "mental_health_catsingle_risk_taking"].unique()

array([ 0.,  1., nan])

In [12]:
c = list(df.columns[~df.isin([0, 1, np.nan]).all()])

In [13]:
c

['mental_health_integer_depression_unenthusiasm',
 'mental_health_integer_neuroticism',
 'mental_health_catsingle_emotions',
 'mental_health_catsingle_last_2_weeks',
 'mental_health_catsingle_doctor_visit',
 'mental_health_catsingle_satisfaction',
 'mental_health_catsingle_depression_unenthusiasm',
 'mental_health_catsingle_irritable_episodes']

In [3]:
df = pd.read_csv("/data5/deepro/ukbiobank/analysis/lifestyle_factors/data/mental_health/mental_health_catsingle_bipolar.csv")

In [4]:
df.loc[(df.iloc[:, -2:]==0).all(axis=1)]

,eid,component_1,20126_Bipolar-I-Disorder|Bipolar-II-Disorder|Probable-Recurrent-major-depression-(severe)|Probable-Recurrent-major-depression-(moderate)|Single-Probable-major-depression-episode_high
0,1000196,0,0
1,1000297,0,0
3,1000395,0,0
6,1000488,0,0
9,1000661,0,0
...,...,...,...
60606,6024605,0,0
60608,6024804,0,0
60609,6024862,0,0
60613,6025181,0,0
60614,6025257,0,0

In [2]:
df = pd.read_csv("/data5/UK_Biobank/download/ukb30075.csv", index_col=0, nrows=100)

In [7]:
df.columns

Index(['21-0.0', '21-1.0', '21-2.0', '31-0.0', '34-0.0', '38-0.0', '38-1.0',
       '38-2.0', '43-0.0', '43-1.0',
       ...
       '41251-0.2', '41251-0.3', '41251-0.4', '41251-0.5', '41251-0.6',
       '41251-0.7', '41251-0.8', '41251-0.9', '41251-0.10', '41252-0.0'],
      dtype='object', length=6673)

In [3]:
df = pd.read_csv("/data5/deepro/ukbiobank/analysis/lifestyle_factors/data/diet/diet_catsingle_fish.csv", index_col=0)

In [5]:
for coln, cold in df.iteritems():
    print(coln)

component_1
component_2
1329_1.0
1329_2.0
1329_3.0
1329_4.0
1329_5.0
1339_1.0
1339_2.0
1339_3.0
1339_4.0
1339_5.0

In [13]:
df.fillna(0).loc[df.fillna(0).isnull().any(axis=1)]

Empty DataFrame
Columns: [Input_ENSG00000000003, Input_ENSG00000000005, Input_ENSG00000000419, Input_ENSG00000000457, Input_ENSG00000000460, Input_ENSG00000000938, Input_ENSG00000000971, Input_ENSG00000001036, Input_ENSG00000001084, Input_ENSG00000001167, Input_ENSG00000001460, Input_ENSG00000001461, Input_ENSG00000001497, Input_ENSG00000001561, Input_ENSG00000001617, Input_ENSG00000001626, Input_ENSG00000001629, Input_ENSG00000001630, Input_ENSG00000001631, Input_ENSG00000002016, Input_ENSG00000002330, Input_ENSG00000002549, Input_ENSG00000002586, Input_ENSG00000002587, Input_ENSG00000002726, Input_ENSG00000002745, Input_ENSG00000002746, Input_ENSG00000002822, Input_ENSG00000002834, Input_ENSG00000002919, Input_ENSG00000002933, Input_ENSG00000003056, Input_ENSG00000003096, Input_ENSG00000003137, Input_ENSG00000003147, Input_ENSG00000003249, Input_ENSG00000003393, Input_ENSG00000003400, Input_ENSG00000003402, Input_ENSG00000003436, Input_ENSG00000003509, Input_ENSG00000003756, Input_ENSG00000003987, Input_ENSG00000003989, Input_ENSG00000004059, Input_ENSG00000004139, Input_ENSG00000004142, Input_ENSG00000004399, Input_ENSG00000004455, Input_ENSG00000004468, Input_ENSG00000004478, Input_ENSG00000004487, Input_ENSG00000004534, Input_ENSG00000004660, Input_ENSG00000004700, Input_ENSG00000004766, Input_ENSG00000004776, Input_ENSG00000004777, Input_ENSG00000004779, Input_ENSG00000004799, Input_ENSG00000004809, Input_ENSG00000004838, Input_ENSG00000004846, Input_ENSG00000004848, Input_ENSG00000004864, Input_ENSG00000004866, Input_ENSG00000004897, Input_ENSG00000004939, Input_ENSG00000004948, Input_ENSG00000004961, Input_ENSG00000004975, Input_ENSG00000005001, Input_ENSG00000005007, Input_ENSG00000005020, Input_ENSG00000005022, Input_ENSG00000005059, Input_ENSG00000005073, Input_ENSG00000005075, Input_ENSG00000005100, Input_ENSG00000005102, Input_ENSG00000005108, Input_ENSG00000005156, Input_ENSG00000005175, Input_ENSG00000005187, Input_ENSG00000005189, Input_ENSG00000005194, Input_ENSG00000005206, Input_ENSG00000005238, Input_ENSG00000005243, Input_ENSG00000005249, Input_ENSG00000005302, Input_ENSG00000005339, Input_ENSG00000005379, Input_ENSG00000005381, Input_ENSG00000005421, Input_ENSG00000005436, Input_ENSG00000005448, Input_ENSG00000005469, Input_ENSG00000005471, Input_ENSG00000005483, ...]
Index: []

[0 rows x 19106 columns]

In [11]:
pd.get_dummies(df, columns=["20126"])

,component_1,20126_0.0,20126_1.0,20126_2.0,20126_3.0,20126_4.0,20126_5.0
eid,,,,,,,
1000196,0.0,1,0,0,0,0,0
1000297,0.0,1,0,0,0,0,0
1000353,3.0,0,0,0,1,0,0
1000395,0.0,1,0,0,0,0,0
1000427,3.0,0,0,0,1,0,0
...,...,...,...,...,...,...,...
6024896,4.0,0,0,0,0,1,0
6025132,4.0,0,0,0,0,1,0
6025163,5.0,0,0,0,0,0,1
6025181,0.0,1,0,0,0,0,0
6025257,0.0,1,0,0,0,0,0

In [4]:
df.loc[df.Case_Adj_Pval_BH<=0.05]

,Item_1,Item_2,Case_Obs_Count_Combo,Item_1_chrom,Item_1_start,Item_1_end,Item_2_chrom,Item_2_start,Item_2_end,Case_Obs_Count_I1,...,Case_Obs_Prob_Combo,Case_pvalue_more,Temp_Obs_Count_Combo,Cont_Obs_Count_I1,Cont_Obs_Count_I2,Cont_Exp_Prob_Combo,Temp_Control_pvalue_more,Case_Adj_Pval_bonf,Case_Adj_Pval_BH,Num_tests
73144,Input_catsingle_depression_unenthusiasm_df_high,Input_ENSG00000111596,90,NaN,NaN,NaN,chr12,70243002.0,70354993.0,5451,...,0.003069,4.520839e-08,93,7314,359,0.001349,0.000035,0.004,0.004,85158

In [8]:
list(range(1, 0, -1))

[1]